{
  "overrides": [
    {
      "files": [
        "*.sol",
        "*.js",
        "*.ts"
      ],
      "options": {
        "printWidth": 160,
        "tabWidth": 4,
        "useTabs": false,
        "bracketSpacing": false,
        "semi": true,
        "explicitTypes": "always"
      }
    },
    {
      "files": [
        "*.js",
        "*.ts"
      ],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
